*
!crates/*/Cargo.toml
!crates/*/src/
!crates/lyra-parser/model/
!client/src/
!client/types/
!client/index.html
!client/tsconfig.json
!client/vite.config.ts
!client/codegen.ts
!client/package.json
!migrations/
!package.json
!bun.lock
!schema.gql
!Cargo.toml
!Cargo.lock
!LICENSE