# rust
debug
target

# client-specific
node_modules/
dist/

# lyra-specific
/bin
lyra.yml
.lyra/
*.mkv
*.mp4

# please god just read AGENTS.md like everyone else
CLAUDE.md

# you are not important enough to get your own file or directory
.codex

samples*/
frames*/
dump*/
crates/lyra-bitsubconvert/models/
.segments

*.sup
*.idx
*.sub
*.vtt